<div class="col-md-12 ingredients_map">
    <div class="wrapper ">
        
        <h1 class="white align-center capital" id="origin_of_our">Origin of our ingredients</h1>
        
        <div class="col-md-12 center">
          <div class="">
            <%= image_tag 'world-map.svg', alt: 'map of the world', class: 'full_map' %>
          </div>
            
        </div>
        
        <div class="col-md-12 ingredients_world_list">
           <div class="col-md-1 "></div>
           <div class="col-md-2 ">
               <p>1. Shea butter - Ghana</p><p>2. Cacao butter - Ghana</p><p>3. Beeswax - France and Bulgaria</p><p>4. Argan oil - Marocco</p><p>5. Olive oil - Spain</p><p>6. Coconut oil - Sri Lanka</p><p>7. Jojoba oil - Israel</p>
           </div> 
           <div class="col-md-2 ">
                <p>8. Apricot kernel oil - Italy</p><p>9. Avocado oil - South Africa</p><p>10. Rice bran oil - Thailand</p><p>11. Castor oil - India</p><p>12. Sea buckthorn - Belarus</p><p>13. Roship oil - Ukraine</p><p>14. Tamanu oil - Madagascar</p>
           </div> 
           <div class="col-md-2 ">
                <p>15. Lavender - Bulgaria</p><p>16. Rosa Damascena - Bulgaria</p><p>17. Rosemary - Marocco</p><p>18. Frankincense- India</p><p>19. Himalayan cedar oil - India</p><p>20. Lemongrass oil - India</p><p>21. Lemon-scented eucalyptus- India</p>
           </div>
           <div class="col-md-2 ">
               <p>22. Sweet orange oil - USA</p><p>23. Peppermint oil - India</p><p>24. Carrot seed oil- India</p><p>25.  Juniper berry - India</p><p>26. Palmarosa-India</p><p>27. Elemi oil- France</p><p>28. Yang Ylang oil - Madagascar</p>
           </div> 
           <div class="col-md-2 ">
                <p>29. Patchouli oil- Indonesia</p><p>30. Licea Cubeba oil - China</p><p>31. Clary Sage oil - Bulgaria</p><p>32. Myrrh - Keniya</p><p>33. Wild chamomile - Marocco</p><p>34. Geranium - Egypt</p><p>35. Benzoin-Sumatra</p>
           </div> 
           <div class="col-md-1 "></div>  
        </div >

        
    </div>
    
</div>